.aboutBanner {
	width: 97%;
	height: 225px;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:  40px ;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.aboutBanner img{
	width: inherit;
	height:inherit;
	border-radius: inherit;
}

.aboutBannerBackGround {
	position: absolute;
	top: 0;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	background: linear-gradient(transparent, rgba(0,0,0,0.8));
}

.collapse_section-about .articleClosedCollapse {
	width:80%;
	margin: auto;
	margin-bottom: 30px;
	background-color: white;
	border-radius: 18px 18px 5px 5px;
}

.collapse_section-about ul {
	font-size: 24px;
}

@media screen and (max-width: 768px) {
	.aboutBanner {
		height: 117px;
		border-radius: 10px;
	}

	.collapse_section-about .articleClosedCollapse {
		width:95%;
	}

	.collapse_section-about ul {
		font-size: 18px;
	}
}

@media screen and (min-width:769px) and (max-width: 1024px) {
	.collapse_section-about ul {
		font-size: 20px;
	}
}