.homeBanner {
	width: 97%;
	height: 225px;
	border-radius: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:  40px ;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.homeBanner img{
	width: inherit;
	height: inherit;
	border-radius: inherit;
}

.titleBannerEffect{
	position: absolute;
	font-size: 48px;
	color: white;
	z-index: 1;
	animation: titleEffect 0.7s ease-in-out;
}

@keyframes titleEffect {
	0% {
		padding-bottom: 300px;
	}
	100% {
		padding-bottom: 0px;
	}
}

.homeBannerBackGround {
	position: absolute;
	top: 0;
	width: inherit;
	height: inherit;
	border-radius: inherit;
	background: linear-gradient(transparent, rgba(0,0,0,0.8));
}

.cards_section {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px
}

.cards_section a {
		width: 100%;
}

.cards_section a :hover {
	transform: scale(1.1);
	transition: transform 0.4s;
	
}

@media screen and (max-width: 768px) {
	.homeBanner {
		height: 117px;
	}

	.homeBanner h1 {
		font-size: 24px;
		padding: 15px;
	}

	.cards_section {
		width: 93%;
		max-width: 542px;
		display: grid;
		grid-template-columns: repeat(1, 1fr)
	}
}

@media screen and (min-width:769px) and (max-width: 1024px) {
	.homeBanner h1 {
		font-size: 36px;
		padding: 15px;
	}

	.cards_section {
		width: 93%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}
}