.information {
	width: 95%;
	margin: auto;
	height: 130px;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.information_section {
	width: 95%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.information_section h1 {
	font-size: 36px;
	font-weight: lighter;
}

.information_section p {
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #FF6060;
}

.left_article {
	width: 70%;
}

.tags_ul {
	font-size: 14px;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	list-style: none;
}

.right_article{
	width: 20%;
}

.host_div {
	width: 100%;
	display: flex;
	margin: auto;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 10px;
}

.host_name {
	width:30%;
}

.picture {
	width: 64px;
	height: 64px;
	border-radius: 50%;
}

.rating_div {
	text-align: end;
}

.housingDetails {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.housingDetails .articleOpenedCollapse ,.articleClosedCollapse{
	width: 45%;
	margin-top: 0px;
}

.housingDetails .articleCollapse ul {
	font-size: 18px;
}