.slider {
	position: relative;
	width : 95%;
	height: 415px;
	border-radius: 25px;
	margin: auto;
	margin-bottom: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.backgroundSlider {
	position: absolute;
	top: 0;
	width: 100%;
	height: inherit;
	border-radius: inherit;
	background: linear-gradient(transparent, rgba(0,0,0,0.2));
	z-index: 1;
}

.picturesContainer {
	width: 100%;
	height: inherit;
	border-radius: inherit;
}

.picturesHousing {
	position: absolute;
	top: 0;
	width: inherit;
	height: inherit;
	object-fit:cover;
	border-radius: inherit;
}

.arrow_navigate {
	width: inherit;
	position: absolute;
	top: 42%;
	display: flex;
	justify-content: space-between;
	z-index: 1;
}

.arrow_navigate :hover {
	cursor: pointer;
}

.numberPicture {
	font-size: 18px;
	margin: auto;
	position: absolute;
	bottom: 5%;
	color: white;
	z-index: 1;
}

@media screen and (max-width: 768px) {
	.slider{
		height: 255px;
	}

	.arrow_navigate img{
		width: 12px;
	}

	.numberPicture {
		font-size: 12px;
		/* visibility: hidden; */
	}
}

@media screen and (min-width:769px) and (max-width: 1024px) {
	.arrow_navigate img{
		width: 18px;
	}
}