.slider{
	position: relative;
	width: 95%;
	height: 415px;
	margin: auto;
	overflow: hidden;
	margin-bottom: 40px;
	border-radius: 25px;
}

.backgroundSlider {
	position: absolute;
	top: 0;
	width: 100%;
	height: inherit;
	border-radius: inherit;
	background: linear-gradient(transparent, rgba(0,0,0,0.2));
	z-index: 1;
}

.picturesContainer {
	height: inherit;
	display: flex;
	border-radius: inherit;
	transition: transform 0.3s ease-in-out;
}

.picturesHousing {
	min-width:100%;
	object-fit: cover;
	border-radius: inherit;
}

.arrow_navigate {
	width: 100%;
	height: 80px;
	position: absolute;
	top: 42%;
	display: flex;
	justify-content: space-between;
	padding: 0px 25px;
	z-index: 1;
}

.arrow_navigate img {
	width:80px;
	height: 80px;
}

.arrow_navigate :hover {
	cursor: pointer;
	background-color: #FF6060;
	border-radius: 50%;
}

.numberPicture {
	width: 100%;
	font-size: 18px;
	text-align: center;
	margin: auto;
	position: absolute;
	bottom: 5%;
	color: white;
	z-index: 1;
}

@media screen and (max-width: 768px) {
	.slider{
		height: 255px;
	}

	.arrow_navigate {
		top: 33%;
		align-items: center;
		padding: 15px;
	}

	.arrow_navigate img{
		width: 12px;
		height: 12px
	}

	.numberPicture {
		font-size: 12px;
		/* visibility: hidden; */
	}
}

@media screen and (min-width:769px) and (max-width: 1024px) {
	.arrow_navigate img{
		width: 18px;
	}
}